<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>scRNA-seq Analysis App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>🔬 scRNA-seq Analysis App</h1>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('unsupervised') }}">Unsupervised</a>
      <a href="{{ url_for('markers') }}">Markers</a>
      <a href="{{ url_for('train') }}">Train</a>
      <a href="{{ url_for('predict') }}">Predict</a>
      <a href="{{ url_for('integration_route') }}">Integration</a>
      <a href="{{ url_for('velocity_route') }}">Velocity</a>
      <a href="{{ url_for('de_route') }}">DE Analysis</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; @copyrights2025 scRNA-seq </p>
  </footer>
</body>
</html>
